/* Light Mode Palette */
:root.light-mode {
    --background-color: #E7E7E7FF;
    --text-color: #1D201FFF;
    --placeholder-color: #1D201FA0;

    --primary-color: #DF928EFF;
    --primary-hover-color: #E3A09CFF;
    --secondary-color: #C58882FF;
    --secondary-hover-color: #D19794FF;
    --highlight-color: #EAD2ACFF;
    --highlight-color-hover: #DFC29BFF;

    --controls-backgroind-color: #F7F7F7FF;
    --controls-border-color: #CCCCCCFF;
    --controls-disabled-color: #B0B0B0FF;

    --success-color: #4CAF50FF;
    --success-color-hover: #3A9E45FF;
    --warning-color: #FFC107FF;
    --warning-color-hover: #E0A800FF;
    --error-color: #F44336FF;
    --error-color-hover: #D6342AFF;
    --info-color: #2196F3FF;
    --info-color-hover: #1E87E2FF;

    --margin: 5px;
}

/* Dark Mode Palette */
:root.dark-mode {
    --background-color: #2A2D2DFF;
    --text-color: #E8E8E8FF;
    --placeholder-color: #1F2E1DA0;

    --primary-color: #C47471FF;
    --primary-hover-color: #D0807EFF;
    --secondary-color: #A86E6AFF;
    --secondary-hover-color: #B77975FF;
    --highlight-color: #CCB08DFF;
    --highlight-color-hover: #D1A979FF;

    --controls-backgroind-color: #D7D7D7FF;
    --controls-border-color: #888888FF;
    --controls-disabled-color: #666666FF;

    --success-color: #6BCF74FF;
    --success-color-hover: #5ECF67FF;
    --warning-color: #FFD54FFF;
    --warning-color-hover: #FFCA2AFF;
    --error-color: #FF6B60FF;
    --error-color-hover: #FF5C50FF;
    --info-color: #42A5F5FF;
    --info-color-hover: #41A7FF;

    --margin: 5px;
}

/* Theme Color Change Transition */
* {
    transition: all 0.3s ease;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    font-family: 'Istok Web'; /* Default Font Family */
}

/* ------------------------- */
/* HEADER NAV BAR ---------- */
/* ------------------------- */

.header-nav {
    background-color: var(--primary-color);
}

.header-nav ul {
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0 var(--margin);
    display: flex;
}

.header-nav ul li {
    display: inline;
}

.header-nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 32px;
}

.header-nav ul li a:hover {
    color: var(--highlight-color);
    transition: color 0.1s ease;
}